<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pethoalpar.zxingexample">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //====================//Loading Activity//=====================//
        <activity
            android:name=".Loading_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //====================//Login Activity //=====================//
        <activity
            android:name=".Login"
            android:label="Login" />
        //=================//===/////////////////
        <activity
            android:name=".NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:parentActivityName=".NavigationDrawer"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pethoalpar.zxingexample.NavigationDrawer" />
        </activity>
        //====================//Main Activity(First Child Activity) //=====================//
        <activity
            android:name=".QR_Generator"
            android:label="Entry/Exit Process"
            android:parentActivityName=".NavigationDrawer"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android:android.support.PARENT_ACTIVITY"
                android:value="com.example.pethoalpar.zxingexample.NavigationDrawer" />
        </activity>
        //====================//Show QR Data Activity(Second Child
        Activity)//=====================//
        <activity
            android:name=".Show_QR_Data"
            android:label="QR DATA"
            android:parentActivityName=".QR_Generator">
            <meta-data
                android:name="android:android.support.PARENT_ACTIVITY"
                android:value="com.example.pethoalpar.zxingexample.MainActivity" />
        </activity>
        <activity
            android:name=".profile"
            android:label="Profile"
            android:parentActivityName=".NavigationDrawer" />

        <meta-data
            android:name="android:android.support.PARENT_ACTIVITY"
            android:value="com.example.pethoalpar.zxingexample.NavigationDrawer" />

        <activity
            android:name=".History"
            android:label="History"
            android:parentActivityName=".NavigationDrawer">
            <meta-data
                android:name="android:android.support.PARENT_ACTIVITY"
                android:value="com.example.pethoalpar.zxingexample.NavigationDrawer" />
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".Logout"></activity>
    </application>

</manifest>